.banner-blog {
  background: url("../img/bg-blog.png");
}

.blog-nav-menu {
  width: 100%;
  margin: 0px auto;
  .btn-dropdown-menu{
    text-align: left;
    border: 1px solid #707070;
    background: transparent;
    width: 100%;
    padding: 9px 15px 8px;
    border-radius: 33px;
    &::after{
      display: inline-block;
    margin-left: 2.255em;
    vertical-align: 0.055em;
    content: "";
    border-top: 0.7em solid;
    border-right: .4em solid transparent;
    border-bottom: 0;
    border-left: .4em solid transparent;
    }
  }
  .tab-content > .active {
    display: contents;
  }

  .tab-pane {
    padding: 15px;
    height: 80px;
  }

  .nav-tabs {
    position: relative;
    border: none !important;
    background-color: #fff;
    /*box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2); */
    border-radius: 6px;

    li {
      font-weight: 600;
      line-height: 22px;
      color: $grey;
      text-transform: uppercase;
      margin: 0px !important;

      a {
        position: relative;
        margin-right: 0px !important;
        padding: 20px 5px !important;
        font-size: 16px;
        border: none !important;
        color: #333;

        &:hover {
          background-color: #fff !important;
          border: none;
        }
      }
    }

    .active {
      background-color: transparent !important;
      border: none !important;
      color: #2ec665 !important;
    }
  }
  .slider {
    display: inline-block;
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background-color: $blue;
    position: absolute;
    z-index: 1200;
    bottom: 0;
    transition: all 0.4s linear;
  }
}
.posts-blog {
  .bg-linguas{
    &:nth-child(2){
      a{
        @extend .bg-green;
      }
    }
    &:nth-child(4){
      a{
        @extend .bg-red;
      }
    }
    &:nth-child(6){
      a{
        @extend .bg-yellow;
      }
    }
  }
  img {
    border-radius: 40px;
  }

  .date {
    color: #d4d6d8;
    font-size: 20px;
    font-weight: 400;
  }

  .title {
    color: $blue;
    font-size: 1.5rem;
    font-weight: 600;
  }

  .description {
    color: #a0a0a0;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
  }

  .read-more {
    color: $green;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      color: $dgrey;
    }
  }
}

.blog-single {
  h2{
    font-size: 1.5rem;
  }
  .featured-imagen {
    img {
      border-radius: 40px;
    }
  }
}

.social-links-blog {
  position: absolute;
  color: #2ec665;

  a {
    display: block;
    color: #2ec665;
    @extend .py-1;
  }
}
