.banner-compliance {
    background: url("../img/bg-compliance-mobile.png");
    background-size: cover;

    @media(min-width: map-get($grid-breakpoints,lg)){
        background: url("../img/bg-compliance.png");
        height: 257px !important;
    }
    
  }
.compliance-start{
    padding: 40px 0;
    h2{
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 32px;
    }
    @media(min-width: map-get($grid-breakpoints,lg)){
        padding: 80px 0;
    }
}
.presidente{
    background-color: #000568;
    color: white;
    position: relative;
    overflow-x: clip;
    padding: 40px 15px;
    .efeito-roxo,.efeito-azul,.efeito-laranja,.efeito-verde-compliance{
        position: absolute;
        transform: scale(.75);
    }
    .efeito-azul{
        top: -124px;
        right: -80px;
    }
    .efeito-laranja{
        transform: scale(.54);
        right: -100px;
        bottom: -100px;
    }
    .efeito-roxo{
        bottom: -20px;
        left: -115px;
    }
    .efeito-verde-compliance{
        top: 60px;
        left: -80px;
    }
    h2{
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 40px;
    }
    h3{
        font-size: 20px;
        margin-top: 43px;
        margin-bottom: 23px;
        font-weight: 600;
    }
    .btn-cta{
        display: block;
        background-color: #2EC665;
        padding: 10px 65px 20px;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        text-align: center;
        border-radius: 30px;
        color: white;
        letter-spacing: 3px;
        img{
            margin-bottom: 5px;
        }
    }
    @media(min-width: map-get($grid-breakpoints,lg)){
        padding: 80px 0;
        .efeito-roxo,.efeito-azul,.efeito-laranja,.efeito-verde-compliance{
            position: absolute;
            transform: scale(1);
        }
        
        .efeito-laranja{
            transform: scale(1);
            right: 9px;
            bottom: -17px;
        }
        .efeito-roxo{
            bottom: -20px;
            left: -115px;
        }
        
        h3{
            font-size: 20px;
            margin-top: 43px;
            margin-bottom: 0px;
            font-weight: 600;
        }
        .btn-cta{
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
            padding: 20px 65px 20px;
            img{
                margin-bottom: 0px;
            }
        }
    }
}