.banner-esg {
    background: url("../img/bg-esg-mobile.png");
    background-size: cover;

    @media(min-width: map-get($grid-breakpoints,lg)){
        background: url("../img/bg-esg.png");
        height: 257px !important;
    }
    
}
.esg-start{
    position: relative;
    text-align: center;
    padding: 32px 30px 52px;
    h2{
        color: #000568;
        font-size: 30px;
        font-weight: 600;
        padding: 0 50px;
        margin-bottom: 21px;
    }
    .efeito-verde-esg-esquerda{
        position: absolute;
        left: -488px;
        top: 264px;
    }
}
.manifesto{
    padding: 48px 21px;
    background-color: #000568;
    color: white;
    position: relative;
    overflow-x: clip;
    .efeito-verde-esg-direita{
        position: absolute;
        bottom: 72px;
        right: -55px;
    }
    h2{
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 32px;
    }
    h3{
        text-transform: uppercase;
        font-size: 20px;
        margin-bottom: 0;
    }
    .fntz-20{
        font-size: 20px;
    }
    .img-manifesto{
        margin-top: 62px;
        margin-bottom: 32px;
    }
    .time-esg{
        position: absolute;
        left: 0;
        
        bottom: -56px;
    }
}
.popups-esg{
    padding: 40px 21px;
    h2{
        font-size: 30px;
        color: #000568;
        font-weight: 600;
        margin-bottom: 32px;
        text-align: center;
    }
    .popups{
        button{
            background: none;
            border: 0;
        }
        img{
            transition: all .3s ease-in-out;
            &:hover{
                transform: scale(1.0625);
            }
        }
    }
    .modal-content{
        border: 0;
        border-radius: 30px;
        box-shadow: 0 3px 20px rgba($color: #000000, $alpha: .1);
        h2{
            text-align: left;
            margin-bottom: 0;
            font-size: 24px;
            font-weight: 600;
        }
        .nome{
            font-size: 12px;
            font-weight: 600;
            color: #000568;
            text-align: center;
            display: block;
            width: 50%;
            margin: 15px 0 25px;
        }
        .btn-cta{
            display: block;
            background-color: #2EC665;
            padding: 17px 22px 19px 24px;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 600;
            text-align: center;
            border-radius: 30px;
            color: white;
            letter-spacing: 3px;
            margin-bottom: 20px;
            
        }
        .desktop-16{
            .img-guardia{
                position: absolute;
                top: -60px;
                left: -70px;
            }
        }
        .modal-header{
            height: auto;
            margin: 0;
            border-radius: 0;
            border-bottom: 0;
            span{
                color: #000568;
            }
        }
        @media(min-width: map-get($grid-breakpoints,lg)){
            .modal-body{
                padding: 16px 115px 40px 56px;
            }
            .nome{
                
                width: 100%;
                
            }
        }
    }
    @media(min-width: map-get($grid-breakpoints,lg)){
        padding: 90px 0;
    }
}