.banner-eventos {
  background: url("../img/bg-eventos.png");
}

.paragraph-event {
  font-weight: 600;
  font-size: 1.2rem;
  @extend .color-dgrey;
}

.strong-blue {
  font-weight: 900;
  @extend .color-blue;
}

.section-videos {
  .title-fispal {
    font-size: 1.875rem;
    font-weight: 600;
    line-height: 36px;
    @extend .color-blue;
  }

  .format-iframe {
    width: 100%;
    height: 300px;
  }
}

@media (min-width: map-get($grid-breakpoints, md)) {
  .format-iframe {
    width: 80%;
    height: 410px !important;
  }
}
