.banner-fale-conosco {
  background: url("../img/bg-fale-conosco.png");
}

.fale-conosco {
  .sub-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    @extend .color-dgrey;
  }

  .itens {
    a {
      font-size: 16px;
      color: $white;
      font-weight: 400;
      letter-spacing: 0.95px;
      text-transform: uppercase;
      height: 215px;
      cursor: pointer;
      transition-property: height, margin, padding, border-radius;
      transition-duration: 0.6s;
      transition-timing-function: ease;
      @extend .text-center;

      .icon {
        height: 128px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
      }

      &:hover {
        z-index: 99;
        margin-left: -4px;
        margin-right: -4px;
        margin-top: -17.5px;
        padding-top: 17.5px;
        padding-bottom: 17.5px;
        border-radius: 30px !important;
        height: 250px;
      }

      img {
        display: block;
        @extend .pt-5;
        @extend .pb-4;
      }
      @media (min-width: map-get($grid-breakpoints, md)) {
        &:nth-child(1) {
          border-radius: 30px 0 0 30px;
        }

        &:last-child() {
          border-radius: 0 30px 30px 0;
        }
      }
    }
  }
}
