footer{

  .links-footer{

    a{
      color: #fff;

      margin: .5rem 0;
    }
  }

  .letter-input{
    max-width: 225px;
height: 40px;
padding-left: 1rem;
border-radius: 25px;
background: rgba(255,255,255,.1);
border: 0;
font-size: 16px;
color: #fff;
margin: 1rem 0 .2rem;
  }

   .wpcf7-submit{
    background: $green;
    @extend .rounded-pill;
    padding: 0rem 1rem;
    height: 40px;
    font-size: 15px;
    border: 0;
    text-transform: uppercase;
    color: #fff;
  }
}