header {
  .mini-bar {
    padding: 74px 0 24px;
    a {
      padding: 0 1rem;
    }
  }

  .nav-link {
    color: $grey;
  }

  button {
    outline: none !important;
  }

  @media (min-width: map-get($grid-breakpoints, md)) {
    .nav-link {
      margin: 0 0.3rem;
    }
  }
}
.menuOver{
  padding: 20px 0;
  background-color: #001378;
  margin: 0 -15px;
  #google_translate_element{
    text-align: center;
  }
  .menuOver-item{
    margin: 8px 0;
  }
  a{
    color: white;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
  }
  @media(min-width: map-get($grid-breakpoints,lg)){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    .menuOverDesk{
      display: flex;
    justify-content: space-between;
    .menuOver-item{
      display: flex;
    }
    }

  }
}
#breadcrumbs {
  border-bottom: 1px solid #fff;
  width: 100%;
  padding-bottom: 10px;
  margin: 0 0 0 auto;
  text-align: right;

  a {
    color: #fff;
  }
}

.hover08 figure img {
  -webkit-filter: grayscale(80%);
  filter: grayscale(80%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  opacity: 0.5 !important;
}

.hover08 figure:hover img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  transition: 0.3s ease-in-out;
  opacity: 1 !important;
}
@media(min-width: map-get($grid-breakpoints,lg)){
  .fixed-top{
    top: 50px;
    .menuOver{
      position: fixed;
    }
  }
}