.popup-box {
  position: fixed;
  right: 1%;
  top: 32%;
  z-index: 5;
  width: 15%;

  .close-pop {
    position: absolute;
    right: 8px;
    top: 7px;
    font-size: 30px;
    color: white;
    width: 40px;
    height: 40px;
    z-index: 6;
  }

  @media (max-width: 500px) {
    width: 90% !important;
    right: 0 !important;
    left: 0 !important;
    top: 3% !important;
    margin-left: auto;
    margin-right: auto;
  }
}

.home {
  .img-post-blog {
    height: 200px;
    border-radius: 40px;
  }

  @media (min-width: map-get($grid-breakpoints, lg)) {
    .img-post-blog {
      height: 300px;
    }

    .title-blog {
      font-size: 32px;
    }
  }
}
