section {
  .title-where {
    font-size: 1.875rem;
    line-height: 63px;
    font-weight: 600;
    @extend .color-dgrey;
  }

  .paragraph-where {
    font-size: 1rem;
    font-weight: 400;
    line-height: 25px;
    @extend .color-grey;
  }

  .paragraph-default {
    font-size: 1rem;
    line-height: 25px;
    font-weight: 400;
    @extend .color-grey;
  }

  .title-food {
    @extend .color-green;
  }

  .actuation h4 {
    font-size: 1.875rem;
    height: 87px;
    margin: 1rem 0;
    font-weight: bold !important;
    @extend .full-center;
    margin-bottom: 0;
  }

  .title-industria {
    @extend .color-red;
  }

  .title-varejo {
    @extend .color-yellow;
  }

  .img-width {
    width: 75px;
  }
}

@media (min-width: map-get($grid-breakpoints, md)) {
  section {
    .paragraph-height {
      height: 100px !important;
    }
  }
}
