.banner-produtos {
  height: initial !important;

  h1 {
    color: $dgrey;
  }

  #breadcrumbs {
    border-color: $grey;
    color: $grey;

    a {
      color: $grey;
    }
  }
}

.nav-cat {
  flex: none;

  a {
    color: #ffffff;
    filter: grayscale(100%);
    text-align: center;
  }

  .active {
    filter: initial;
  }
}

.cat-child {
  .desc {
    height: 121px;
    @extend .full-center;

    .name-cat {
      color: $blue;
      text-transform: uppercase;
      font-weight: 900;
    }

    .desc-cat {
      color: $grey;
    }
    @media (min-width: map-get($grid-breakpoints, md)) {
      height: 191px;
    }
  }
}

.border-g {
  border-radius: 20px;
  height: 388px;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: center;

  img {
    border-radius: 19px;
  }
}

.box-products {
  height: fit-content;
  @extend .full-center;
  flex-wrap: wrap;
  border-radius: 20px;

  h5 {
    font-size: 1rem !important;
  }
}

.symbolcat {
  background: url(../../dist/img/food-service.png) center center no-repeat;
  height: 96px;
  flex: none;
  background-size: contain !important;
  width: 40%;
  margin: 0 0.1rem;

  &:nth-child(2) {
    background: url(../../dist/img/sorvetes-artesanais.png) center center no-repeat;
  }
  &:nth-child(3) {
    background: url(../../dist/img/industria-de-bebidas-e-alimentos.png) center center no-repeat;
  }
  &:nth-child(4) {
    background: url(../../dist/img/varejo.png) center center no-repeat;
  }

  @media (min-width: map-get($grid-breakpoints, md)) {
    background-size: cover;

    width: 216px;
    height: 106px;
  }
}

@media (min-width: map-get($grid-breakpoints, lg)) {
  .border-g img {
    width: 100%;
    height: 100%;
  }
  .box-products {
    height: 165px;
  }
}
