.banner-quem-somos {
  background: url("../img/bg-quem-somos.png");
}

.section-title {
  .title-about {
    font-size: 1.875rem;
    font-weight: 600;
    line-height: 36px;
    @extend .color-green;
  }

  .paragraph-format {
    font-size: 1rem;
    font-weight: 400;
    line-height: 25px;
    @extend .color-grey;
  }

  .format-position {
    right: 0;
    z-index: -1;
  }

  .format-col {
    float: right;
    overflow: hidden;
    margin-top: -117px;
  }
}

.section-fabrica {
  .img-fabrica {
    height: 263px;
  }

  .container-height {
    height: 25rem;
  }

  .mt-sm-n5 {
    margin-top: -3rem !important;
  }

  .paragraph {
    font-size: 1rem;
    font-weight: 400;
    line-height: 25px;
  }
}
.section-bia{
  position: relative;
  margin-top: 3em;
  .mt-sm-6{
    margin-top: 85px;
  }
  .img-bia{
    margin-top: -110px;
  }
  .paragraph-bia{
    font-size:36px;
    text-transform: uppercase;
    font-weight: 800;
    .btn-cta-bia{
      background-color: #2ec665;
      color: white;
      padding: 10px 20px;
      border-radius: 15px;
    }
  }
  @media (min-width: map-get($grid-breakpoints,lg)){
    margin-top: 100px;
    padding-top: 10px;
    .mt-sm-6{
      margin-top: 0;
    }
    .img-bia{
      position: absolute;
      bottom: -80px;
      left: 0;
      margin-top: 0;
      max-width: 620px;
    }
    .paragraph-bia{
      .btn-cta-bia{
        font-size: 24px;
      }
    }
    .efeito-bia{
      top:-290px;
    }
  }
  
  
}

@media (min-width: map-get($grid-breakpoints, md)) {
  .section-fabrica {
    .img-fabrica {
      height: initial !important;
    }

    .container-height {
      height: 18rem;
    }

    .mt-sm-n5 {
      margin-top: initial !important;
    }

    .paragraph {
      font-size: 1rem;
    }
  }
}

.section-localidades {
  background: #f7f7f7;

  .title-section {
    font-size: 1.8rem;
    font-weight: 600;
    @extend .color-blue;
  }

  .paragraph-color {
    font-size: 2.3rem;
    font-weight: 600;
    @extend .color-green;

    &::before {
      content: "";
      display: block;
      width: 80px;
      height: 3px;
      margin-top: 10px;
      margin-bottom: 50px;
      @extend .bg-blue;
    }
  }

  .span-format {
    font-size: 1.2rem;
    font-weight: 400;
  }

  .span-format-2 {
    font-size: 1rem;
  }

  .index {
    z-index: 999;
  }
}

.img-linha {
  width: 147px !important;
  border-radius: 20px;
}

.section-linha {
  .card {
    background-color: $white !important;
    border: 4px solid #2ec665 !important;
    border-radius: 2.25rem !important;
    height: 350px;
  }
  .card-header {
    margin-bottom: 0 !important;
    background-color: initial !important;
    border-bottom: initial !important;
  }

  .title-card {
    font-size: 3rem;
    font-weight: 300;
    @extend .color-green;
  }

  .card-body {
    padding-top: 0 !important;
  }

  .card-title {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .card-text {
    font-size: 0.9rem;
    font-weight: 400;
  }

  .owl-dots button {
    background: transparent;
    border: 0;
    outline: none;
  }

  .owl-nav button {
    background: transparent;
    border: 0;
    outline: none;
  }

  .owl-dots button span {
    width: 8px;
    height: 8px;
    margin: 5px 2px;
    background: #c4c4c4 !important;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 30px;
    margin: 0rem 0.8rem;
    outline: none;
  }

  #materiaDots {
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    padding-top: 30px;
    margin-bottom: 30px !important;
  }

  .color-active {
    &:active {
      color: #2ec665;
    }
  }
}

.section-solucoes {
  background: #f7f7f7;

  .title-solucoes {
    font-size: 2.5rem;
    font-weight: 600;
    @extend .color-blue;
  }

  .paragraph-solucoes {
    font-size: 1rem;
    font-weight: 400;
    @extend .color-grey;
  }
}

.eureciclo {
  .title {
    color: #2ec665 !important;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }

  img {
    width: 30%;
    margin: 30px auto;
    display: block;

    @media (max-width: map-get($grid-breakpoints, md)) {
      width: 70%;
    }
  }
}

.section-premiacoes {
  h3 {
    font-weight: bold;
    font-size: 18px;
  }
  .title-premiacoes {
    font-size: 2.5rem;
    font-weight: 600;
    @extend .color-green;
  }

  .mini-desc {
    text-align: center;
    display: block;
    font-size: 11px;
    position: relative;
    top: -44px;
    margin-bottom: -10px;
    left: -16%;
  }

  .paragraph-premiacoes {
    font-size: 1.2rem;
    font-weight: 600;
    @extend .color-grey;
  }

  .hr-color {
    @extend .bg-grey;
  }
}
.section-politica{
  position: relative;
  overflow-x: clip;
  padding: 46px 15px;
  color: white;
  h2{
    font-weight: 700;
    margin-bottom: 24px;
  }
  h3{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
  }
  .efeito-verde-esquerdaMob{
    position: absolute;
    bottom: -19px;
    left: -130px;
  }
  .efeito-verde-direitaMob{
    position: absolute;
    bottom: -60px;
    right: -150px;
  }
  .efeito-verde-esquerdaDesk{
    position: absolute;
    bottom: -75px;
    left: -170px;
  }
  .efeito-verde-direitaDesk{
    position: absolute;
    top: 277px;
    right: -150px;
  }
  .bloco-ambiental{
    margin-top: 50px;
  }
}
.section-exportacao {
  .bg-mapa {
    background: url("../img/bg-mapa.png") center center no-repeat;

    background-size: cover;
    height: 269px !important;
  }
  .title-exportacao {
    font-size: 2.5rem;
    font-weight: 600;
    @extend .color-blue;
  }

  .paragraph-exportacao {
    font-size: 1rem;
    font-weight: 400;
    color: #555c62;
  }
}

.section-cia {
  .title-cia {
    font-size: 2.5rem;
    font-weight: 600;
    @extend .color-green;
  }
}
.section-planta {
  .title-plant {
    font-size: 2.5rem;
    font-weight: 600;
  }

  .owl-carousel .owl-dots {
    margin: 1rem 0 !important;
  }

  .paragraph-plant {
    font-size: 1rem;
    font-weight: 400;
  }

  .owl-nav {
    display: none !important;
  }
}
