.remodal-bg {
  &.remodal-is-opening,
  &.remodal-is-opened {
    -webkit-filter: blur(3px);
    filter: blur(3px);
  }
}

/* Default theme styles of the overlay */

.remodal-overlay {
  background: #000000;
  opacity: 0.8;

  &.remodal-is-opening,
  &.remodal-is-closing {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  &.remodal-is-opening {
    -webkit-animation-name: remodal-overlay-opening-keyframes;
    animation-name: remodal-overlay-opening-keyframes;
  }

  &.remodal-is-closing {
    -webkit-animation-name: remodal-overlay-closing-keyframes;
    animation-name: remodal-overlay-closing-keyframes;
  }
}

/* Default theme styles of the wrapper */

.remodal-wrapper {
  padding: 10px 10px 0;
}

/* Default theme styles of the modal dialog */

.remodal {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
  padding: 35px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  color: #2b2e38;
  background: #fff;
  border-radius: 30px;
  margin-top: 35px;

  .sub-title {
    font-size: 22px;
    font-weight: 600;
    line-height: 32px;
    @extend .pb-3;
  }

  .wpcf7-form {
    @extend .row;
    justify-content: center;
  }

  input,
  select {
    background: transparent;
    width: 100%;
    height: 32px;
    color: #555c62;
    font-size: 16px;
    font-weight: 400;
    line-height: 13px;
    border: 1px solid #d4d6d8;
    @extend .my-2;
    @extend .px-2;

    ::placeholder {
      color: #555c62;
    }
  }
  textarea {
    width: 100%;

    font-size: 16px;
    font-weight: 400;

    border: 1px solid #d4d6d8;
    @extend .my-2;
    @extend .px-2;
    height: 81px;

    ::placeholder {
      color: #555c62;
    }
  }

  input[type="submit"] {
    width: 170px;
    height: 60px;
    color: $white;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    border-radius: 30px;
  }

  &.remodal-is-opening,
  &.remodal-is-closing {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  &.remodal-is-opening {
    -webkit-animation-name: remodal-opening-keyframes;
    animation-name: remodal-opening-keyframes;
  }

  &.remodal-is-closing {
    -webkit-animation-name: remodal-closing-keyframes;
    animation-name: remodal-closing-keyframes;
  }

  vertical-align: middle;
}

/* Vertical align of the modal dialog */

.remodal-wrapper:after {
  vertical-align: middle;
}

/* Close button */

.remodal-close {
  width: 40px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid #707070;
  background-color: #fff;
  position: absolute;
  top: -21.5px;
  right: -12.5px;
  display: block;
  overflow: visible;
  margin: 0;
  padding: 0;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  text-decoration: none;
  color: #2ec665;
  outline: 0;
  cursor: pointer;

  &:hover,
  &:focus {
    color: #2b2e38;
    background-color: $white !important;
  }

  &:before {
    font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif !important;
    font-size: 36px;
    line-height: 35px;
    position: absolute;
    top: 0px;
    left: -10px;
    display: block;
    width: 59px;
    content: "\00d7";
    text-align: center;
  }
}

/* Dialog buttons */

.remodal-confirm,
.remodal-cancel {
  font: inherit;
  display: inline-block;
  overflow: visible;
  min-width: 110px;
  margin: 0;
  padding: 12px 0;
  cursor: pointer;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  border: 0;
  outline: 0;
}

.remodal-confirm {
  color: #fff;
  background: #81c784;

  &:hover,
  &:focus {
    background: #66bb6a;
  }
}

.remodal-cancel {
  color: #fff;
  background: #e57373;

  &:hover,
  &:focus {
    background: #ef5350;
  }
}

/* Remove inner padding and border in Firefox 4+ for the button tag. */

.remodal-confirm::-moz-focus-inner,
.remodal-cancel::-moz-focus-inner,
.remodal-close::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* Keyframes
     ========================================================================== */

@-webkit-keyframes remodal-opening-keyframes {
  from {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 0;
  }

  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
    -webkit-filter: blur(0);
    filter: blur(0);
  }
}

@keyframes remodal-opening-keyframes {
  from {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 0;
  }

  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
    -webkit-filter: blur(0);
    filter: blur(0);
  }
}

@-webkit-keyframes remodal-closing-keyframes {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }

  to {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    opacity: 0;
    -webkit-filter: blur(0);
    filter: blur(0);
  }
}

@keyframes remodal-closing-keyframes {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }

  to {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    opacity: 0;
    -webkit-filter: blur(0);
    filter: blur(0);
  }
}

@-webkit-keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* Media queries
     ========================================================================== */

@media only screen and (min-width: 641px) {
  .remodal {
    max-width: 895px;
  }
}

/* IE8
     ========================================================================== */

.lt-ie9 {
  .remodal-overlay {
    background: #000000;
    opacity: 0.8;
  }

  .remodal {
    width: 700px;
  }
}

.modal-header {
  height: 176px;
  margin: -35px -35px 0 -35px;
  border-radius: 30px 0 0;
  background-position: center;
  background-size: cover;

  .seja-um-fornecedor & {
    background-image: url("../img/modal-seja-um-fornecedor.png");

    span {
      &::after {
        border: 2px solid $green;
      }
    }

    @at-root .seja-um-fornecedor {
      .sub-title {
        color: $green;
      }

      input[type="submit"] {
        background-color: $green;
      }

      .politicas {
        color: $green;
        font-size: 13px;
      }

      .remodal-close {
        color: $green;
      }
    }
  }

  .seja-um-cliente & {
    background-image: url("../img/modal-seja-um-cliente.png");

    span {
      &::after {
        border: 2px solid $red;
      }
    }

    @at-root .seja-um-cliente {
      .sub-title {
        color: $red;
      }

      input[type="submit"] {
        background-color: $red;
      }

      .politicas {
        color: $red;
        font-size: 13px;
      }

      .remodal-close {
        color: $red;
      }
    }
  }

  .seja-um-cliente-final & {
    background-image: url("../img/modal-seja-um-cliente-final.png");

    span {
      &::after {
        border: 2px solid $yellow;
      }
    }

    @at-root .seja-um-cliente-final {
      .sub-title {
        color: $yellow;
      }

      input[type="submit"] {
        background-color: $yellow;
        position: relative;
        left: 3.5%;
      }

      .politicas {
        color: $yellow;
        font-size: 13px;
      }

      .remodal-close {
        color: $yellow;
      }
    }
  }

  .seja-um-distribuidor & {
    background-image: url("../img/modal-seja-um-distribuidor-parceiro.png");

    span {
      &::after {
        border: 2px solid $skyblue;
      }
    }

    @at-root .seja-um-distribuidor {
      .sub-title {
        color: $skyblue;
      }

      input[type="submit"] {
        background-color: $skyblue;
      }

      .politicas {
        color: $skyblue;
        font-size: 13px;
      }

      .remodal-close {
        color: $skyblue;
      }
    }
  }

  .seja-um-representante & {
    background-image: url("../img/modal-seja-um-representante.png");

    span {
      &::after {
        border: 2px solid $blue;
      }
    }

    @at-root .seja-um-representante {
      .sub-title {
        color: $blue;
      }

      input[type="submit"] {
        background-color: $blue;
      }

      .politicas {
        color: $blue;
        font-size: 13px;
      }

      .remodal-close {
        color: $blue;
      }
    }
  }

  span {
    color: #ffffff;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    @extend .col-12;

    @extend .text-center;

    &::after {
      position: absolute;
      content: "";
      bottom: -10px;
      left: 0;
      right: 0;
      width: 138px;
      height: 1px;
      @extend .m-auto;
    }
  }
}
