.banner-search {
  background: url("../img/bg-blog.png");
}

.searchform {
  @extend .text-center;
  @extend .col-md-8;
  @extend .m-auto;

  #searchsubmit {
    //nav-link d-inline bg-green rounded-pill text-white px-5 py-3

    border: none;
    outline: none;
    @extend .bg-green;
    @extend .rounded-pill;
    @extend .d-block;
    @extend .text-white;
    @extend .px-5;
    @extend .py-3;
    @extend .m-auto;
  }

  .screen-reader-text {
    display: none;
  }

  #s {
    width: 100%;
    height: 66px;
    color: #555c62;
    font-size: 21px;
    font-weight: 400;
    line-height: 36px;
    border: 1px solid #d4d6d8;
    @extend .px-3;
    @extend .mb-5;
  }
}
