.single-produtos {
  .banner {
    height: initial !important;

    h1 {
      display: none;
      color: $dgrey;
    }

    #breadcrumbs {
      border-color: $grey;
      color: $grey;

      a {
        color: $grey;
      }
    }
  }

  .title {
    color: $dgrey;
    font-size: 18px;
    font-weight: 600;

    @extend .py-3;
    h3 {
      text-transform: uppercase;
    }
  }

  .sub-title {
    color: $grey;
    font-size: 1rem;
    font-weight: 600;
    line-height: 30px;
    @extend .pb-3;
  }

  .description {
    color: $dgrey;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    @extend .pb-3;
  }

  .position-relative {
    img {
      display: none;
      right: 0;

      &.path-left {
        left: 0;
        bottom: -107px;
      }
    }

    @media (min-width: map-get($grid-breakpoints, md)) {
      img {
        display: block;
      }
    }
  }

  .item-title {
    color: $dgrey;
    font-size: 20px;
    font-weight: 600;
    line-height: 36px;
    text-transform: uppercase;
  }

  .receitas {
    background-color: #d4d6d8;

    .title {
      color: $red;
      font-size: 40px;
      font-weight: 600;
      line-height: 63px;
    }
  }
}
.carousel-produtos-relacionados {
  .owl-nav {
    display: none;
  }

  .item {
    .title {
      color: $grey;
      font-size: 18px;
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 0;
      padding-bottom: 0 !important;
      line-height: initial;
      @extend .text-center;
    }

    .description {
      color: $blue;
      font-size: 21px;
      font-weight: 700;
      @extend .text-center;
    }

    img {
      border-radius: 30px 30px 0 0;
    }
  }
}
.carousel-receitas {
  .owl-nav {
    display: none;
  }

  .item {
    position: relative;
    cursor: pointer;

    .thumb {
      position: relative;

      img {
        border-radius: 30px;
      }

      &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0.3;
        transition: 0.5s ease;
        background-color: $black;
        border-radius: 30px;
      }
    }

    .title {
      position: absolute;
      color: $white;
      font-size: 23px;
      font-weight: 600;
      bottom: 0;
      @extend .mx-4;

      &::after {
        content: "";
        position: absolute;
        bottom: 72px;
        left: 0;
        right: 0;
        width: 30px;
        height: 1px;
        border: 2px solid $white;
      }
    }
  }
}
.cta-receitas{
  .link-receitas{
    background-color: $green;
    color: $white;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.75px;
    line-height: 24px;
    border-radius: 50rem;
    margin-top: 115px;
    margin-bottom: 50px;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
  }
}
.call-to-action {
  color: $white;
  font-size: 40px;
  font-weight: 600;
  line-height: 63px;

  a {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.75px;
    line-height: 24px;
    border-radius: 31px;
    border: 2px solid $white;
  }
}

.borderd {
  border-radius: 20px;
}
