@import "../../source/components/bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400%7CRoboto:500");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css");

$grey: #a0a0a0;

$green: #2ec665;

$dgrey: #555c62;

$yellow: #f9940d;

$blue: #000d79;

$skyblue: #388bcc;

$red: #da1b41;

$dblue: #121634;

$alabastera: #f7f7f7;

.send {
  outline: none;
}

.color-grey {
  color: $grey;
}

.color-yellow {
  color: $yellow;
  &:hover{
    color: $yellow;
  }
}

.color-dgrey {
  color: $dgrey;
}

.color-green {
  color: $green !important;
}

.color-blue {
  color: $blue !important;
}

.color-dblue {
  color: $dblue !important;
}

.color-red {
  color: $red !important;
}

.color-alabastera {
  color: $alabastera !important;
}

.color-skyblue {
  color: $skyblue !important;
}

.bg-alabastera {
  background: $alabastera !important;
}
.bg-yellow {
  background: $yellow;
}

.bg-grey {
  background: $grey !important;
}

.bg-dgrey {
  background: $dgrey !important;
}

.bg-green {
  background: $green !important;
}

.bg-blue {
  background: $blue !important;
}

.bg-dblue {
  background: $dblue !important;
}

.bg-red {
  background: $red !important;
}

.bg-skyblue {
  background: $skyblue !important;
}

.filter-white {
  filter: brightness(0) invert(1);
}

.d-grid {
  display: grid;
}

.default-spacing {
  padding-top: 30px;
  padding-bottom: 30px;
}

.shadow {
  -webkit-box-shadow: 0px 5px 20px -2px rgba(204, 204, 204, 1);
  -moz-box-shadow: 0px 5px 20px -2px rgba(204, 204, 204, 1);
  box-shadow: 0px 5px 20px -2px rgba(204, 204, 204, 1);
}

.class-spacing {
  margin-bottom: 1.5rem !important;
}

html {
  scroll-behavior: smooth;
}
.d-nonee {
  display: none;
}

body {
  font-family: "Open Sans" !important;
  color: #a0a0a0;
  position: relative;
}

a {
  text-decoration: none !important;
  cursor: pointer;
}

img {
  @extend .img-fluid;
}

button {
  outline: none !important;
  text-decoration: none !important;

  &:hover {
    background: transparent !important;
  }
}

.py-30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}
.ftz-30 {
  font-size: 30px !important;
}
.ftz-20 {
  font-size: 20px !important;
}

.list {
  list-style: none;
}

.flex-initial {
  flex-wrap: initial;
}

.banner {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  height: 10rem !important;
}

.full-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-ce-b {
  scroll-behavior: smooth;
}

.buton-floats {
  &:hover {
    .float-button {
      width: fit-content;
      padding-left: 0.5rem;
      padding: 0.5rem 0.5rem;
      transition: 0.3s;

      i {
        padding-right: 0.5rem;
      }
    }
    .fone {
      display: block;
    }
  }

  .float-button {
    transition: 1s;
    align-items: center;
    position: fixed;
    justify-content: space-between;
    width: 52px;
    height: 52px;
    bottom: 100px;
    right: 11px;
    background-color: $green;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 24px;
    z-index: 100;
    @extend .full-center;
    justify-content: center;

    &:hover {
      color: #fff;
    }
  }
}
.btn-modalwww{
  transition: 1s;
    align-items: center;
    position: fixed;
    justify-content: space-between;
    width: 52px;
    height: 52px;
    bottom: 200px;
    right: 11px;
    border-radius: 16px;
    text-align: center;
    font-size: 24px;
    z-index: 100;
    @extend .full-center;
    justify-content: center;
    cursor: pointer;
    img{
      border-radius: 6px;
      transition: 1s;
    }
    &:hover{
      transform: scale(1.1);

      img{
        transform: scale(1.1);
      }
    }
}
#myBtn{
  cursor: pointer;
  img{
    border-radius: 3px;
  }
}
@media (min-width: map-get($grid-breakpoints, xs)) {
  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 23px;
    font-weight: 500;
  }

  h3 {
    font-size: 18px;
  }
}

@media (min-width: map-get($grid-breakpoints, md)) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 34px;
    font-weight: 400;
  }

  h3 {
    font-size: 24px;
  }

  .mt-n12 {
    margin-top: -12rem !important;
  }
}

.mt-n5-1 {
  margin-top: -4.4rem !important;
}

.mt-5-1 {
  margin-top: 5rem !important;
}

.mxw-1000 {
  max-width: 1000px;
}

.right-0 {
  right: 0;
}

.top-0 {
  top: 0;
}

.bottom-0 {
  bottom: 0;
}

.left-0 {
  left: 0;
}

.owl-carousel img {
  margin: 0 auto;
}

.owl-stage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.marcas {
  img {
    width: 150px !important;
  }
}

.owl-dots {
  span {
    background: #d4d6d8 !important;
  }

  .active span {
    background: #555c62 !important;
  }
}

.ftsz-26 {
  font-size: 26px;
}

.btn-d {
  @extend .rounded-pill;
  color: #fff;
  padding: 1rem 1.5rem;
  margin: 1rem 0;
}

.bg-carreiras {
  background: url("../img/bg-carreira.png");
  @extend .banner;
  background-position: center center;
  height: 17rem !important;

  @media (min-width: map-get($grid-breakpoints, md)) {
    height: 25rem !important;
  }
}
.banner-politica-de-privacidade{
  display: none;
}

.overflow-x {
  overflow-x: scroll;
}

@media (min-width: map-get($grid-breakpoints, lg)) {
  .overflow-x {
    overflow-x: initial;
  }
}

.owl-carreira,
.carousel-produtos-relacionados {
  img {
    border-radius: 20px;
  }
}

.breadcrumbs{
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style: none;
  .bread{
    padding: 0 2px;
    font-size: 14px;
    color: #da1b41;
    margin-bottom: 8px;
    font-weight: bold;
    a{
      color: inherit;
      &:hover{
        color: #be1839;
      }
    }
  }
}

img.alignright {float:right; margin:0 0 1em 1em}
img.alignleft {float:left; margin:0 1em 1em 0}
img.aligncenter {display: block; margin-left: auto; margin-right: auto}
a img.alignright {float:right; margin:0 0 1em 1em}
a img.alignleft {float:left; margin:0 1em 1em 0}
a img.aligncenter {display: block; margin-left: auto; margin-right: auto}
@import "owl.carousel";

@import "owl.theme.default.min";

@import "animated";

@import "footer";

@import "header";

@import "home";

@import "quem-somos";

@import "contato";

@import "produtos";

@import "blog";

@import "eventos";

@import "fale-conosco";

@import "remodal-theme";

@import "single-produtos";

@import "search";

@import "onde-atuamos";
@import "compliance";
@import "esg";
